body{
    margin: 0;
}
a{
	text-decoration: none;
}
ul{
    list-style-type: none;
	height: 50px;
    position:fixed;
    padding:0;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
	opacity: 0.8;
    top:0;
    width: 100%;
}

li{
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    color:white;
    padding: 12px 20px;
}

li a.active
{
    background-color:black;
    color:white;
}

li a:hover:not(.active)
{
    background-color: #555555;
    color: white;
}

table {
	padding: 0;
	width: 100%;
	background: #ccc;
	text-align: center;
	border-collapse: collapse;
}

th,td {
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ccc;
}		
th {
	background: #eee;
	font-weight: normal;
}		
tr {
	background: #fff;
}		
tr:hover {
	background: #cc0;
}		
td a {
	color: #06f;
	text-decoration: none;
}		
td a:hover {
	color: #06f;
	text-decoration: underline;
}

body {
	background-color: aliceblue;
}